<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yash007.sportsapplication"
    >
    <uses-sdk
         android:minSdkVersion="23"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.samsung.android.health.permission.read"
            android:value="com.samsung.health.step_count" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/signUpActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:label="@string/forgetPasswordActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".HealthActivity"
            android:label="@string/healthData"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".CreateTeamActivity"
            android:label="@string/createTeam"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".DashboardActivity" />
        <activity android:name=".FingerprintActivity"></activity>
    </application>

</manifest>